{:deps   true
 :builds {:dev
          {:target     :react-native
           :init-fn    rn.native-base-example-todo.core/init
           :output-dir "app"
           :devtools   {:autoload   true
                        :after-load steroid.rn.core/reload
                        ;:preloads   [re-frisk-rn.preload]
                        }}}}
